- content_for :head do
  = stylesheet_link_tag 'roadmap'
%main.roadmap
  .container
    %h1.h2.roadmap__title--lg= @roadmap.title
    %p= @roadmap.description
    %section{data: { controller: "roadmap", roadmap_id: @roadmap.id, action: params[:action] }, style:"height: #{@roadmap.height}px;"}