%main.roadmap
  %h1.roadmap__title--lg= @roadmap.title
  - @roadmap.steps.each do |step|
    .roadmap__step
      %h2.roadmap__title--md= step.title
      %ul
        - step.tasks.each do |task|
          %li.roadmap__task= task.title