@import 'reactflow/dist/style';

.roadmap__node {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c4cbd1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-family: 'JetBrains Mono', monospace;
  align-items: center;
  justify-content: center;
  background-color: var( --bs-white);

  &-step {
    width: 150px;
    padding: 20px;
  }

  &-task{
    padding: 15px;
    font-size: 10px;
  }

  .actions {
    top: 3px;
    right: 5px;
  }

  .add-new {
    bottom: -80px;
    font-size: 24px;
    background: #fff;

    &::before {
      content: '';
      position: absolute;
      border-left: 1px solid #c4cbd1;
      height: 44px;
      top: -40px;
    }
  }
}



[data-theme=dark] {
  .roadmap__node {
    background-color: var( --bs-surface-bg);
    border: none;
  }

  .react-flow__background {
    &-small path {
      stroke: #232323;
    }

    &-large path {
      stroke: #2a2a2a;
    }
  }
}


.react-flow__handle:not(.connectable) {
  visibility: hidden;
}