@import 'reactflow/dist/style';

.roadmap__node {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c4cbd1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-family: 'JetBrains Mono', monospace;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-node);
  font-size: 18px;
  font-weight: 600;

  &__content {
    &-step {
      width: 150px;
      padding: 20px;
    }
  
    &-task{
      padding: 15px;
      font-size: 10px;
    }
  }

  .actions {
    top: 3px;
    right: 5px;
  }

  .add-new {
    bottom: -80px;
    font-size: 24px;
    background: #fff;

    &::before {
      content: '';
      position: absolute;
      border-left: 1px solid #c4cbd1;
      height: 44px;
      top: -40px;
    }
  }

  .react-flow{
    overflow: auto !important;
  }
}



[data-theme=dark] {
  .roadmap__node {
    background-color: var( --bs-surface-bg);
    border: none;
  }

  .roadmap__node__content{
    &-step{
      background-color: var(--bs-node);
    }

    &-task{
      background-color: var(--bs-node);
    }
  }

  .react-flow__background {
    &-small path {
      stroke: #232323;
    }

    &-large path {
      stroke: #2a2a2a;
    }
  }

  .nav__bg{
    background-color: var(--bs-nav);
  }

  .roadmap{

    &__title{
      color: #ffffff;
    }
  }

  .social-links{
    background-color: #ffffff;
  
    .bi{
      color: var(--bs-nav);
    }
  }

  footer {
    p{
      color: #ffffff !important;
    }
  }
}


.react-flow__handle:not(.connectable) {
  visibility: hidden;
}
.avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.roadmap{

  &__title{
    color: #313C59;
    padding-top: 50px;
  }
  &__description{
    margin: 10px auto 50px;
    text-align: justify;
  }
}

.social-links{
  left: 21%;
  top: 58%;
  background-color: #313C59;
}

.nav__bg{
  background-color: #f7f7f9;
}
.footer__bg{
  background-color: #313C59;
}

@media (max-width: 768px){
  .roadmap{
    width: 100% !important;
  }
  .social-links{
    left:0;

    .bi{
      font-size: 18px;
    }
  }
}
  
