@import 'reactflow/dist/style';

.drawflow .drawflow-node {
  display: block;
  padding: 0;
}

.drawflow .drawflow-node .inputs, .drawflow .drawflow-node .outputs {
  display: flex;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawflow .drawflow-node .input {
  top: 0px;
  left: 0px;
}

.drawflow .drawflow-node .output {
  top: 0px;
  right: 0px;
}

.drawflow {
  .inputs,
  .outputs {
    height: 0;
  }
}

[data-theme=dark] {
  .drawflow {
    .drawflow-node {
      background: rgb(43, 44, 62);
      border-color: #475872;
      color: rgb(220, 229, 231);
    }
  }
}
