%header.navbar.navbar-expand-lg.bg-info
  .container
    %a.navbar-brand{href: "./index.html"}
      %img.navbar-brand-img.logo-light.logo-large{alt: "...", height: "25", src: "https://d33wubrfki0l68.cloudfront.net/ba6b91b7d508187d153e48318c22d0773a9cedfc/36afa/assets/images/logo.svg", width: "125"}/
      %img.navbar-brand-img.logo-dark.logo-large{alt: "...", height: "25", src: "https://d33wubrfki0l68.cloudfront.net/55307694d1a6b107d2d87c838a1aaede85cd3d84/66f18/assets/images/logo-dark.svg", width: "125"}/
    %a.navbar-toggler{"aria-controls" => "menuCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#menuCollapse", "data-bs-toggle" => "collapse", href: "javascript: void(0);"}
      %span.navbar-toggler-icon
    #menuCollapse.collapse.navbar-collapse
      %ul.navbar-nav.mx-auto.py-5.py-lg-0
        %li.nav-item
          %a.text-white.fw-bold.nav-link{href: "./docs/index.html"}
            Roadmap
        %li.nav-item
          %a.text-white.fw-bold.nav-link{href: "mailto:support@dashly-theme.com"} Support
        %li.nav-item
          %a.text-white.fw-bold.nav-link{href: "https://themes.getbootstrap.com/product/dashly-admin-dashboard-template/", target: "_blank"} Pricing
      .d-flex
        = render partial: 'shared/theme_switch'
        .vr.bg-gray-700.mx-1.mx-md-2.mx-lg-3
        / Link
        %a.btn.btn-dark.mx-1.mx-lg-2.px-4.px-lg-5{href: "../index.html"}
          Preview Demo