= turbo_frame_tag "offcanvas" do
  #remote-offcanvas.offcanvas.offcanvas-end{
    "aria-labelledby" => "remote-offcanvasLabel",
    tabindex: "-1",
    "data-controller" => "offcanvas"
  }
    .offcanvas-header
      %h5#remote-offcanvasLabel.offcanvas-title
        = title
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", type: "button"}
    .offcanvas-body
      = yield