[data-theme=dark] .accordion {
  --bs-accordion-bg: var(--bs-surface-bg);
  --bs-accordion-active-bg: var(--bs-surface-bg);
  --bs-accordion-active-color: var(--bs-primary);
  --bs-accordion-btn-icon-width: 0;
}