
:root,[data-theme=light] {
  --bs-primary: #00bac7;
  --bs-secondary: #9ea9b4;
  --bs-success: #31cf80;
  --bs-info: #2dadcf;
  --bs-warning: #ebcf4f;
  --bs-danger: #d82c5b;
  --bs-light: #f6f7f8;
  --bs-dark: #0e2238;
  --bs-node: #E02962;
  --bs-nav: #121212;
  --bs-font-sans-serif: "Open Sans",sans-serif;
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-border-color-translucent: hsla(214,7%,62%,.1);
  --bs-form-control-bg: var(--bs-body-bg);
  --bs-chart-tooltip-bg: var(--bs-dark)
}

[data-theme=dark] {
  --bs-body-color: #bcc0c6;
  --bs-body-color-rgb: 188,192,198;
  --bs-body-bg: #121212;
  --bs-body-bg-rgb: 18, 18, 18;
  --bs-primary: #bb86fc;
  --bs-secondary: #03dac5;
  --bs-success: #31cf80;
  --bs-info: #2dadcf;
  --bs-warning: #ebcf4f;
  --bs-danger: #d82c5b;
  --bs-light: #363637;
  --bs-dark: #595c5f;
  --bs-light-green: #1d1d1e;
  --bs-white: #2d2d2d;
  --bs-black: #fff;
  --bs-primary-rgb: 0,186,199;
  --bs-secondary-rgb: 158,169,180;
  --bs-success-rgb: 49,207,128;
  --bs-info-rgb: 45,173,207;
  --bs-warning-rgb: 235,207,79;
  --bs-danger-rgb: 216,44,91;
  --bs-light-rgb: 54,54,55;
  --bs-dark-rgb: 89,92,95;
  --bs-light-green-rgb: 29,29,30;
  --bs-white-rgb: 45,45,45;
  --bs-black-rgb: 255,255,255;
  --bs-gray-100-rgb: 31,31,31;
  --bs-gray-200-rgb: 31,31,31;
  --bs-gray-300-rgb: 30,30,30;
  --bs-gray-400-rgb: 27,27,28;
  --bs-gray-500-rgb: 183,188,194;
  --bs-gray-600-rgb: 178,182,188;
  --bs-gray-700-rgb: 155,155,155;
  --bs-gray-800-rgb: 133,137,140;
  --bs-gray-900-rgb: 144,146,148;
  --bs-border-color: #383838;
  --elevation-overlay-04-dp: 9;
  --bs-surface-bg: #1e1e1e;
  --bs-active-surface-bg: #201b25;
}


::-moz-selection {
  background-color: rgba(0,186,199,.75);
  color: #fff
}

::selection {
  background-color: rgba(0,186,199,.75);
  color: #fff
}


