
:root,[data-theme=light] {
  --prefix: --bs-;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #d82c5b;
  --bs-orange: #fd7e14;
  --bs-yellow: #ebcf4f;
  --bs-green: #31cf80;
  --bs-teal: #20c997;
  --bs-cyan: #2dadcf;
  --bs-gray: #989ea6;
  --bs-gray-dark: #343a40;
  --bs-primary: #00bac7;
  --bs-secondary: #9ea9b4;
  --bs-success: #31cf80;
  --bs-info: #2dadcf;
  --bs-warning: #ebcf4f;
  --bs-danger: #d82c5b;
  --bs-light: #f6f7f8;
  --bs-dark: #0e2238;
  --bs-light-green: #f1f5f7;
  --bs-white: #fff;
  --bs-black: #000;
  --bs-blue: #0075c7;
  --bs-gray-100: #f6f7f8;
  --bs-gray-200: #f4f4f4;
  --bs-gray-300: #edeef0;
  --bs-gray-400: #d6dae2;
  --bs-gray-500: #a5abb3;
  --bs-gray-600: #989ea6;
  --bs-gray-700: #707070;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary-rgb: 0,186,199;
  --bs-secondary-rgb: 158,169,180;
  --bs-success-rgb: 49,207,128;
  --bs-info-rgb: 45,173,207;
  --bs-warning-rgb: 235,207,79;
  --bs-danger-rgb: 216,44,91;
  --bs-light-rgb: 246,247,248;
  --bs-dark-rgb: 14,34,56;
  --bs-light-green-rgb: 241,245,247;
  --bs-blue-rgb: 0,117,199;
  --bs-gray-100-rgb: 246,247,248;
  --bs-gray-200-rgb: 244,244,244;
  --bs-gray-300-rgb: 237,238,240;
  --bs-gray-400-rgb: 214,218,226;
  --bs-gray-500-rgb: 165,171,179;
  --bs-gray-600-rgb: 152,158,166;
  --bs-gray-700-rgb: 112,112,112;
  --bs-gray-800-rgb: 52,58,64;
  --bs-gray-900-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 14,34,56;
  --bs-body-bg-rgb: 248,250,251;
  --bs-font-sans-serif: "Open Sans",sans-serif;
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #0e2238;
  --bs-body-bg: #f8fafb;
  --bs-heading-color: ;
  --bs-link-color: #00bac7;
  --bs-link-hover-color: #00959f;
  --bs-code-color: #00bac7;
  --bs-highlight-bg: #fbf5dc;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #f4f4f4;
  --bs-border-color-translucent: hsla(214,7%,62%,.1);
  --bs-border-radius: 0.625rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.75rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-form-control-bg: var(--bs-body-bg);
  --bs-chart-tooltip-bg: var(--bs-dark)
}

[data-theme=dark] {
  --bs-body-color: #bcc0c6;
  --bs-body-color-rgb: 188,192,198;
  --bs-body-bg: #252626;
  --bs-body-bg-rgb: 37,38,38;
  --bs-primary: #00bac7;
  --bs-secondary: #9ea9b4;
  --bs-success: #31cf80;
  --bs-info: #2dadcf;
  --bs-warning: #ebcf4f;
  --bs-danger: #d82c5b;
  --bs-light: #363637;
  --bs-dark: #595c5f;
  --bs-light-green: #1d1d1e;
  --bs-white: #2d2d2d;
  --bs-black: #fff;
  --bs-gray-100: #1f1f1f;
  --bs-gray-200: #1f1f1f;
  --bs-gray-300: #1e1e1e;
  --bs-gray-400: #1b1b1c;
  --bs-gray-500: #b7bcc2;
  --bs-gray-600: #b2b6bc;
  --bs-gray-700: #9b9b9b;
  --bs-gray-800: #85898c;
  --bs-gray-900: #909294;
  --bs-primary-rgb: 0,186,199;
  --bs-secondary-rgb: 158,169,180;
  --bs-success-rgb: 49,207,128;
  --bs-info-rgb: 45,173,207;
  --bs-warning-rgb: 235,207,79;
  --bs-danger-rgb: 216,44,91;
  --bs-light-rgb: 54,54,55;
  --bs-dark-rgb: 89,92,95;
  --bs-light-green-rgb: 29,29,30;
  --bs-white-rgb: 45,45,45;
  --bs-black-rgb: 255,255,255;
  --bs-gray-100-rgb: 31,31,31;
  --bs-gray-200-rgb: 31,31,31;
  --bs-gray-300-rgb: 30,30,30;
  --bs-gray-400-rgb: 27,27,28;
  --bs-gray-500-rgb: 183,188,194;
  --bs-gray-600-rgb: 178,182,188;
  --bs-gray-700-rgb: 155,155,155;
  --bs-gray-800-rgb: 133,137,140;
  --bs-gray-900-rgb: 144,146,148;
  --bs-border-color: #383838
}
